.inputs {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-bottom: 1em;
}

#newTask {
  width: 20vw;
  border: 3px solid white;
}

#newTask:hover {
  border: 3px solid black;
}

#newTask:focus-visible {
  border: 3px solid black;
}
